PyTorch/Profiling_and_Optimization/swin_profile/1st_optim_num_worker/1stOPT.pt.trace.json filter=lfs diff=lfs merge=lfs -text
PyTorch/Profiling_and_Optimization/swin_profile/2nd_optim_non_blocking/2ndOPT.pt.trace.json filter=lfs diff=lfs merge=lfs -text
PyTorch/Profiling_and_Optimization/swin_profile/unoptimized/UNOPT.pt.trace.json filter=lfs diff=lfs merge=lfs -text
