# Natural Language Processing
langchain==0.0.329
chromadb==0.4.6
llama-cpp-python==0.1.66
pdfminer.six==20221105
pickleshare
sentence-transformers==3.0.1
faiss-cpu==1.7.4
protobuf==3.20.2
auto-gptq==0.2.2
docx2txt
unstructured


# Utilities
urllib3
accelerate
bitsandbytes ; sys_platform != 'win32'
bitsandbytes-windows ; sys_platform == 'win32'
click
flask
requests

# Excel File Manipulation
openpyxl
