# Natural Language Processing
langchain-chroma==0.1.2
langchain-huggingface==0.1.0
langchain-community==0.3.1
langchain==0.3.1
chromadb==0.4.6
llama-cpp-python==0.1.66
pdfminer.six==20221105
pickleshare
sentence-transformers==3.0.1
faiss-cpu==1.7.4
protobuf==3.20.2
auto-gptq==0.2.2
docx2txt
unstructured


# Utilities
urllib3
accelerate
bitsandbytes ; sys_platform != 'win32'
bitsandbytes-windows ; sys_platform == 'win32'
click
flask
requests

# Excel File Manipulation
openpyxl
